.productListContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 100px auto;
}
.productListContainer h4 {
  font-weight: bold;
  font-size: 24px;
  font-family: poppins;
}
.productContainer {
  display: grid;
  grid-template-columns: auto auto auto;
}
