.appContainer {
  width: 100%;
}
.coverContainer {
  display: grid;
  grid-template-columns: 50% 50%;
}
.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 30px 125px;
}
.brandName {
  display: flex;
  flex-direction: row;
}
.brandOval {
  width: 39px;
  height: 39px;
  border-radius: 39px;
  z-index: -5;
  background-color: #a5bebe;
  position: relative;
  left: 15px;
  bottom: 9px;
}
.coverText {
  margin: 100px 200px;
  width: 400px;
}
.coverTextTitle {
  font-size: 54px;
  text-align: left;
}
.coverTextSubtitle {
  text-align: left;
  position: relative;
  bottom: 20px;
  color: #4f4f4f;
  font-size: 16px;
}
.coverInput input {
  width: 200px;
  height: 40px;
  text-align: left;
  background: #ffffff;
  border: 1px solid #1f4948;
  box-sizing: border-box;
  border-radius: 6px;
  font-weight: normal;
  padding-left: 10px;
}
.coverInput button {
  height: 42px;
  background-color: #1f4948;
  border: none;
  border-radius: 5px;
  color: white;
  position: relative;
  right: 5px;
  bottom: 3px;
  font-weight: 400;
  font-size: 12px;
}
.coverSection2 {
  background-color: #1f4948;
  display: flex;
  flex-direction: column;
  height: 700px;
}
.row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 688px;
}
.signInBtn {
  border: 1px solid white;
  background: #1f4948;
  color: white;
  padding: 5px;
  border-radius: 10px;
  width: 90px;
  height: 40px;
  position: absolute;
  right: 10px;
  margin: 30px;
}
.image1 {
  margin-top: 100px;
  position: relative;
  right: 50px;
  width: 450px;
}
.image2 {
  position: relative;
  top: 80px;
  padding-left: 10px;
  width: 350px;
  height: 300px;
}

.footer {
  background-color: #1f4948;
  color: white;
  padding: 15px 100px 0px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.linkContainer {
  width: 200px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.bottomImage {
  margin-bottom: 100px;
}
.review {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-bottom: 50px;
}
.slider {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.slider div {
  height: 10px;
  width: 10px;
  border-radius: 10px;
  border: 1px solid grey;
  margin: 5px;
}
.activeSlider {
  background-color: #1f4948;
}
