<div class="appContainer">
  <div class="coverContainer">
    <div class="coverSection1">
      <div class="navbar">
        <div class="brandName">
          <div class="brandOval"></div>
          <p>Storename</p>
        </div>
        <p>Products &#8964;</p>
        <p>Pricing</p>
      </div>
      <div class="coverText">
        <p class="coverTextTitle">
          Lorem ipsum dolor <strong>sit amet</strong>
        </p>
        <span class="coverTextSubtitle">
          pellentesque duis dui blandit. Fames nibh et, 
          est augue mollis nullam. Pharetra, pulvinar molestie penatibus leo.
        </span>
        <div class="coverInput">
          <input placeholder="Enter your email"/>
          <button>Get early access</button>
        </div>
      </div>
    </div>
    <div class="coverSection2">
      <div class="row">
        <button class="signInBtn">Sign in</button>
        <img class="image1" src="../assets/img1.png" alt="image1">
      </div>
      <div class="row">
        <img class="image2" src="../assets/img2.png" alt="image2">
        <img class="image3" src="../assets/img3.png" alt="image3">
      </div>
    </div>
  </div>
  <app-product-list></app-product-list>
  <div class="review">
    <img class="bottomImage" src="../assets/banner2.jpg" alt="bottomImg">
    <div>
      <h3 class="header">Review</h3>
      <img class="reviewImage" src="../assets/review.jpg" alt="reviewImg">
      <p>Shahidul Islam</p>
      <span>'Amazing test with quality products'</span>
      <div class="slider"> 
        <div class="activeSlider"></div>
        <div></div>
        <div></div>
      </div>
    </div>
  </div>
  <div class="footer">
     <p>&copy;2020storename</p>
     <div class="linkContainer">
      <p>Gallery</p>
      <p>About</p>
      <p>Contact</p>
     </div>
  </div>
</div>